
	<footer role="contentinfo">
		<div class="hr"></div>
		<div class="footer-link">
      {{ with .Site.Params.rss }}<a href="{{ . }}" target="_blank">RSS</a>{{ end }}
			{{ with .Site.Params.twitter }}<a href="{{ . }}" target="_blank">Twitter</a>{{ end }}
      {{ with .Site.Params.meetup }}<a href="{{ . }}" target="_blank">Meetup</a>{{ end }}
			{{ with .Site.Params.slack }}<a href="{{ . }}" target="_blank">Slack</a>{{ end }}
		</div>
		<div class="copyright"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a></div>
	</footer>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
