
	<footer role="contentinfo">
    <div class="hr"></div>

    <div>
      <p style="font-size: smaller;">Hack for Privacy supports the development of <a href="/pixelated.html">Pixelated</a>, an open source privacy-focused email project. Our members have been running <a href="https://www.cryptoparty.in/">cryptoparties</a> in Melbourne for the last few years, and making noise about <a href="https://robindoherty.com/2016/01/06/nothing-to-hide.html">privacy</a>-related issues in Australia such as <a href="/post/data-retention-is-rubbish.html">data retention</a> and <a href="/post/census.html">census linkage</a>.</p>

      <p><a href="https://cryptohack.herokuapp.com/">Join us</a> on Slack, <a href="https://cryptohack.slack.com">sign in</a>, and start putting your tech superpowers to work!</p>
    </div>
		<div class="hr"></div>
		<div class="footer-link">
      {{ with .Site.Params.rss }}<a href="{{ . }}" target="_blank">RSS</a>{{ end }}
      {{ with .Site.Params.twitter }}<a href="{{ . }}" target="_blank">Twitter</a>{{ end }}
			{{ with .Site.Params.facebook }}<a href="{{ . }}" target="_blank">Facebook</a>{{ end }}
      {{ with .Site.Params.meetup }}<a href="{{ . }}" target="_blank">Meetup</a>{{ end }}
      {{ with .Site.Params.slack }}<a href="{{ . }}" target="_blank">Slack</a>{{ end }}
			{{ with .Site.Params.slackjoin }}<a href="{{ . }}" target="_blank">Join</a>{{ end }}
		</div>
		<div class="copyright"><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a></div>
	</footer>

</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
