<section id="homepage">

  <p class="center"><strong>Cryptohack</strong> is a network of technologists who care about digital privacy.</p>

  <p class="center"><a class="button" href="https://cryptohack.herokuapp.com/"><strong>Join us</strong></a></p>

  <p>The internet is an amazing tool for freedom of information, communication and education. But it's under attack from corporate interests and dragnet government surveillance.</p>

  <p><strong>There is hope!</strong> We have the tools to help everyone take control of their privacy. More and more people are encrypting their communications, but many of the tools are still hard to use.

  <p><strong>Cryptohackers</strong> have the technical skills (UX, testing, security, development, etc) to improve the tools so everyone can benefit from them.</p>

  <p><strong>Cryptohackers</strong> have the will to stand up and defend our digital privacy.</p>

  <p>Are you a <strong>Cryptohacker?</strong></p>

  <p class="hr" />

  <p style="text-align:center;"><a class="big-text" href="https://cryptohack.herokuapp.com/"><strong>Join us</strong>, and together we can protect our digital privacy.</a></p>

  <p class="hr" />

  <p style="text-align:center;"><a class="big-text" href="/contribute.html">Or, <strong>start cryptohacking</strong> right now.</a></p>

</section>
