<section id="homepage">
  <p><strong>cryptohack</strong> is a network of technologists who care about digital privacy.</p>
  <p>The internet is an amazing tool for communication, sharing information and education. Using it, we can solve many of the world's problems, but it is under attack from corporate interests and dragnet government surveillance.</p>
  <p><strong>There is hope!</strong> We have the tools to help everyone take control of their privacy. More and more people are encrypting their communications, but many of the tools are still hard to use.
      <p><strong>cyptohackers</strong> have the skills to improve the tools so everyone can benefit from them.</p>
      <p><strong>cryptohackers</strong> have the will to stand up and defend our digital privacy.</p>
      <p>Are you a cryptohacker? </p>
      <p style="align:center;"><a href="http://goo.gl/forms/yvwdF5FsB2"><strong>Join us</strong>, and together we can protect our digital privacy.</a></p>
</section>
