  <ul class="share-buttons">
    <li><a href="https://facebook.com/sharer.php?u={{ .Permalink }}" target="_blank" title="Share on Facebook" rel="nofollow"><i class="fa fa-facebook-square fa-2x"></i></a></li>
    <li><a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}&via=hackforprivacy&related=hackforprivacy" rel="nofollow" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
    <li><a href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" title="Share on Google+" rel="nofollow"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
    <li><a href="http://www.reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="Submit to Reddit" rel="nofollow"><i class="fa fa-reddit-square fa-2x"></i></a></li>
    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}&source=cryptohack.net" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x" rel="nofollow"></i></a></li>
    <li><a href="mailto:?subject={{ .Title }}&body={{ .Permalink }}" target="_blank" title="Email" rel="nofollow"><i class="fa fa-envelope-square fa-2x"></i></a></li>
  </ul>